<form (submit)="addItem()">

    <input
      type="text"
      name="inputGroceries"
      placeholder=" Enter item name..."
      class="submit"
      [(ngModel)] = "inputGroceries"
    />
    <input type = "submit" value = "Add Item" class = "submit" />
    
  </form>
  
  <div class="grocery-list">
  <div *ngFor="let item of groceries; let i = index;" class="grocery {{ (item.completed ? 'done' : '') }}">
    <div class="id"> Item: {{ i+1 }} </div>
    <div class="content" (click)="toggleDone(i)"> {{ item.content }} </div>
    <button class="delete" (click)="deleteItem(i)">Delete</button>
  </div>
</div>
