#title {
  font-family: 'Indie Flower';
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
}

.app {
    width: 100%;
    margin: auto;
  }
